<!-- for PC -->
<div class="d-none d-sm-block h-100">
    <div class="container-fluid">
        <div class="row ta-c mt-5">
            <div class="col-4"></div>
            <div class="col">
                <div class="card w-100 card-login">
                    <img class="card-img-top" src="/assets/img-login.png">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">@</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Correo" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">@</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Contraseña" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-success w-100" disabled>Ingresar</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-info w-100 mt-2" disabled>Registrarse</button>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <hr>
                                <button type="button" class="btn btn-secondary w-100" disabled>Ingresar como:</button>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col">
                                <button type="button" class="btn btn-outline-warning w-100" (click)="goToAssignment()">Alumno</button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-outline-warning w-100" (click)="goToDashboard()">Profesor</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4"></div>

        </div>

    </div>
</div>